**.*~
**.*#
**.#*
**.o*
bin/**
build/**
/inc/**.*~
**.out
.dir-locals.el
**.files
cmake-build-debug/**
compile_commands.json
.clangd/**
.idea/**
TAGS
/build/cmake/
!/build/cmake/
/build/cmake/*
!/build/cmake/CMakeLists.txt
!/build/cmake/sdl2-cmake-modules/